$font-stack: Helvetica, sans-serif;
$primary-color: #192542;
$ltblue: #0f7ae5;
$xcred: #C8102E;

$handle-hover-bg-color: #0f7ae5;
$handle-color: #fff;
$handle-width: 348px; // Adjust to match the sidebar width
$transition-duration: 0.3s;
$z-index-handle: 1050;
$handle-bg-color: rgb(34, 34, 34);;
$darkgray: rgb(34, 34, 34);

::-webkit-scrollbar {
  display: none;
}



body {
  font: 100% $font-stack;
  color: $primary-color;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  padding: 0 2px;
}

#spinner {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  max-width: 768px;
  position: relative;
  margin: 0 auto;
}

.uk-navbar-container {
  .uk-icon {
    color:$primary-color;
    font-weight: bold;
  }
  
  .mobile-nav li a {
    flex-direction: column;
  }
}

.icon {
  cursor: pointer;
  top: -4px;
  position: relative;
  
  &.red {
    color: $xcred;
  }
}

.uk-input:focus, .uk-select:focus, .uk-textarea:focus {
  outline: 0;
  background-color: #fff;
  color: #333;
  border-color: #0f7ae5;
  border-width: 3px;
}

.uk-input, .uk-select, .uk-textarea {
    border-radius: 5px;
}