$font-stack: Helvetica, sans-serif;
$primary-color: #192542;
$ltblue: #0f7ae5;
$darkgray: rgb(34, 34, 34);
$xcred: #C8102E;
$white: #fff;
$btnGray: #717171;

$handle-hover-bg-color: #0f7ae5;

$handle-width: 348px; // Adjust to match the sidebar width
$transition-duration: 0.3s;
$z-index-handle: 1050;
$handle-bg-color: rgb(34, 34, 34);;


::-webkit-scrollbar {
  display: none;
}



body {
  font: 100% $font-stack;
  color: $primary-color;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  padding: 0 2px;
}

#spinner {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  max-width: 768px;
  position: relative;
  margin: 0 auto;
}

.uk-notification {
  width: 90%;
  min-width: 350px;
}
.uk-notification-message {
  background: #f9f9f9;  
  font-size: 1.25rem;
}

.uk-navbar-container {
  .uk-icon {
    color:$primary-color;
    font-weight: bold;
  }
  
  .mobile-nav li a {
    flex-direction: column;
  }
}

.icon {
  cursor: pointer;
  top: -4px;
  position: relative;
  
  &.red {
    color: $xcred;
  }
}

:focus-visible {
  outline: none
}

.red {
  color: $xcred;
}
.uk-modal-body {
  text-align: center;
}

.uk-input:focus, .uk-select:focus, .uk-textarea:focus {
  outline: 0;
  background-color: #fff;
  color: #333;
  border-color: #0f7ae5;
  border-width: 3px;
}

.uk-input, .uk-select, .uk-textarea {
    border-radius: 5px;
}

#desktop-sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 330px;
  z-index: 1000;
  overflow-y: auto;
  background: #333;
  border-right: 1px solid #ddd;
}


.room-heading, .location-heading {
  font-weight: bold;

  span {
    display: inline-block;
    color: $primary-color;
    &.uk-icon {
      margin-right: 5px;
      position: relative;
      top: -3px;
    }
    &.name {
      margin-right: 25px;
      font-weight: normal;
    }
  }
  span:last-child {
    margin-right: 0;
  }
  span:hover {
    cursor: pointer;
  }

}

.location-heading {
  .room_name {
    font-size: 1.3em
  }
}

.nav-menu {
  list-style: none;
  padding: 0;
  .ik-icon {
    position: relative;
    top: -3px;
  }

  .location-item, .project-item {
    font-size: 1.2em; // ~19px

    .project-name {      
      margin-bottom: 0.75em; // Spacing between room names
    }

    .location-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .location-name {
        font-weight: bold;
      }
    }
  }

  .building-list {
    margin-top: 0;
    list-style: none;
    padding-left: 0.5em; // Reduced indentation

    .building-item {
      font-size: 1em; // ~17px
      padding-bottom: 15px;

      p {
        margin: 0;
      }
      &:last-child a {
        color: $ltblue;
      }
      .add-location {
        font-size: 1.15em;
      }

      .building-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;
        margin-top: 5px;

        .building-name {
          font-weight: 600;
        }
      }
    }
  }

  .floor-list {
    list-style: none;
    padding-left: 0.75em; // Reduced indentation
    margin-top: 10px;

    .floor-item {
      font-size: 1em; // ~14px, matching room size
      &.add-floor {
        padding-top: 5px;
        padding-bottom: 5px;

      }
      &:last-child a {
        color: $ltblue;
      }

      .floor-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .floor-name {
          padding-top: 15px;
          font-weight: 500;
        }
      }
    }

    h5 {
      font-size: 0.95em; // ~15px
      font-weight: bold;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  }

  .room-list {
    list-style: none;
    padding-left: 1em; // Reduced indentation

    .room-item {
      font-size: 1em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 0.5em; // Spacing between room names
      margin-bottom: 0.5em; // Spacing between room names
      &.add-room {
        padding-top: 5px;
        padding-bottom: 5px;

      }
      &.add-room a {
        color: $ltblue;
      }


      .room-name {
        font-weight: normal;
      }

      .action-icon {
        margin-left: auto;
      }
    }
  }

  .action-icons, .action-icon {
    color: #777;
    margin-left: 0.5em;
    cursor: pointer;
    font-size: 1em; // ~16px, consistent size for tappable icons
    min-width: 20px;
  }

  .action-icons {
    display: flex;
    gap: 0.5em;
  }
}


ul.sku-list {
  list-style: none;
  padding: 0;
  margin: 10px 0 10px 0;
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 0 12px 25px;    
    .sku-name {
      font-weight: bold;
    }
    .sku-qty {
      font-weight: normal;
    }
  } 
}


label.subheading {
  margin-bottom: 10px;
  display: block;
  color: #777;
  font-weight: bold;  
}

.dimensions {
  label{
    font-weight: normal;
  }
}

.notes-area {
  margin-right: 20px;

  textarea.note {
    width: 100%;
    height: 100px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 7px 15px 9px 15px;
    font-size: 1.1em;
    color: #2a2a2a;
    margin-bottom: 11px;
    outline: none;

    display: block;
    overflow: visible;
    resize: none;
  }
}

.notes-images-area {
  .notes-images-container {
    border-top-color: #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-style: solid;
    border-top-width: 2px;
  }

  #room_notes {
    list-style-type: none;
    padding-left: 0;
    .note {
      .note-date {
        float:left;
        font-weight: bold;
        color: #666;
        font-size: 90%;
        position: relative;
        top: -10px;        
      }
      .note-actions {
        float:right;
      }
      .note-text {
        clear:both;
      }
      
      padding: 20px 10px;
      margin: 10px 0;
      background-color: #eee;      
    }
  }


  .uk-button-link {
    background: $btnGray;
    line-height: 38px;
    color: $white;
    border-radius: 10px 10px 0 0;  
    &.uk-active {
      background: $ltblue;
    }  
  }
}

#add-image {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
#add-image + label {
  font-size: 0.875em;
  color: white;
  background-color: $ltblue;
  display: inline-block;
  //pointer-events: none;
  cursor: pointer;

  text-align: center;
  padding: 11px 0;
  text-transform: uppercase;
  transition: .1s ease-in-out;
  transition-property: color, background-color, border-color;
}


.imagebg {
  width: 100%;
  height: 164px;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}


.schedule-topper {

  div {
    background-color: $primary-color;
    color: #fff;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    text-align: left;
    p {
      line-height: 35px;
      padding-left: 5px;
      padding-right: 2px;
      font-size: 90%;
      &.heading {
        font-variant: all-small-caps;
        line-height: 32px;
        padding: 0 5px;
        font-size: 100%;
      }
    }

  }

}

.uk-modal.loginmodal {
  backdrop-filter: blur(15px);
}

.sidetabs {
  white-space: nowrap;
  button {
    background: #717171;
    width: 50%;
    height: 33px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 10px;  
  
    &.uk-active {
      background: $ltblue;
    }

  }
}

.syncicon {
  display: inline-block;
  background-image: url('/img/sync.png');
  filter: grayscale(100%); 
  width: 38px; // Adjust the size as needed
  height: 38px; // Adjust the size as needed
  background-size: cover;
  transition: transform 0.3s ease-in-out;

  &.active {
    filter: grayscale(0%);
    animation: rotate 1s linear infinite;
  }

  &:hover {
    // filter: grayscale(0%);
    // animation: rotate 1s linear infinite;
  }

}


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





@media screen and (min-width: 1600px) {
  .uk-offcanvas {
    display: flex;
  }
}

@media screen and (max-width: 1600px) {
  body {
    padding: 0 1px;
  }

  .btn-toggle-sidebar {
    position: fixed;
    left: 0;
    top: 40%;
    margin: 0;
    transform: rotate(90deg) translate(0, 90px);
    border-radius: 10px 10px 0 0;
    letter-spacing: 2px;

  }
}

@media screen and (max-width: 768px) {
//   [class*=uk-width] {
//     box-sizing: border-box;
//     width: auto;
//     max-width: auto;
// }
  .uk-grid {
    margin-left: 0;
    margin-right: 0;
  }
  .uk-grid>* {
    padding-left: 0;
    padding-right: 0;
  }
  .tables-side {
    .uk-button {
      border: none;
    }
  }
  .uk-button {
    border: 1px solid #fff;
  }

  .uk-offcanvas-bar {
    --uk-inverse: light;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -270px;
    box-sizing: border-box;
    width: 270px;
    padding: 10px 5px 2px 2px;
    background: #222;
    overflow-y: auto
}


  .uk-navbar-container {
    .uk-icon {
      font-size: 1.3em;
    }
  }


  .nav-menu {
    .location-item, .project-item {
      font-size: 1.3em;
    }

    .building-item {
      font-size: 1.1em;
    }

    .floor-item {
      font-size: 1em;
    }

    .room-item {
      font-size: 1em;
    }

    .action-icons, .action-icon {
      font-size: 1.2em;
    }
  }

  .location-heading {
    .room_name {
      font-size: 1em;
    }
  }



  .sidetabs {
    button {
      height: 30px;
    }
  }

  .schedule-topper {
    div {
      p {
        font-size: 80%;
      }
    }
  }

  .dimensions {
    label {
      font-size: 0.8em;
    }
  }

  .notes-area {
    textarea.note {
      font-size: 1em;
    }
  }

  .notes-images-area {
    .notes-images-container {
      border-top-width: 1px;
    }

    #room_notes {
      .note {
        padding: 15px 10px;
        margin: 5px 0;
      }
    }

    .uk-button-link {
      line-height: 30px;
    }
  }

  .sku-list {
    li {
      padding: 3px 0 10px 15px;
    }
  }

}