::-webkit-scrollbar {
  display: none;
}

body {
  font: 100% Helvetica, sans-serif;
  color: #192542;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  padding: 0 2px;
}

#spinner {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  max-width: 768px;
  position: relative;
  margin: 0 auto;
}

.uk-navbar-container .uk-icon {
  color: #192542;
  font-weight: bold;
}
.uk-navbar-container .mobile-nav li a {
  flex-direction: column;
}

.icon {
  cursor: pointer;
  top: -4px;
  position: relative;
}
.icon.red {
  color: #C8102E;
}

:focus-visible {
  outline: none;
}

.red {
  color: #C8102E;
}

.uk-modal-body {
  text-align: center;
}

.uk-input:focus, .uk-select:focus, .uk-textarea:focus {
  outline: 0;
  background-color: #fff;
  color: #333;
  border-color: #0f7ae5;
  border-width: 3px;
}

.uk-input, .uk-select, .uk-textarea {
  border-radius: 5px;
}

#desktop-sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 330px;
  z-index: 1000;
  overflow-y: auto;
  background: #333;
  border-right: 1px solid #ddd;
}

.room-heading, .location-heading {
  font-weight: bold;
}
.room-heading span, .location-heading span {
  display: inline-block;
  color: #192542;
}
.room-heading span.uk-icon, .location-heading span.uk-icon {
  margin-right: 5px;
  position: relative;
  top: -3px;
}
.room-heading span.name, .location-heading span.name {
  margin-right: 25px;
  font-weight: normal;
}
.room-heading span:last-child, .location-heading span:last-child {
  margin-right: 0;
}
.room-heading span:hover, .location-heading span:hover {
  cursor: pointer;
}

.location-heading .room_name {
  font-size: 1.3em;
}

.nav-menu {
  list-style: none;
  padding: 0;
}
.nav-menu .ik-icon {
  position: relative;
  top: -3px;
}
.nav-menu .location-item, .nav-menu .project-item {
  font-size: 1.2em;
}
.nav-menu .location-item .project-name, .nav-menu .project-item .project-name {
  margin-bottom: 0.75em;
}
.nav-menu .location-item .location-header, .nav-menu .project-item .location-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu .location-item .location-header .location-name, .nav-menu .project-item .location-header .location-name {
  font-weight: bold;
}
.nav-menu .building-list {
  margin-top: 0;
  list-style: none;
  padding-left: 0.5em;
}
.nav-menu .building-list .building-item {
  font-size: 1em;
  padding-bottom: 15px;
}
.nav-menu .building-list .building-item p {
  margin: 0;
}
.nav-menu .building-list .building-item:last-child a {
  color: #0f7ae5;
}
.nav-menu .building-list .building-item .add-location {
  font-size: 1.15em;
}
.nav-menu .building-list .building-item .building-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  margin-top: 5px;
}
.nav-menu .building-list .building-item .building-header .building-name {
  font-weight: 600;
}
.nav-menu .floor-list {
  list-style: none;
  padding-left: 0.75em;
  margin-top: 10px;
}
.nav-menu .floor-list .floor-item {
  font-size: 1em;
}
.nav-menu .floor-list .floor-item.add-floor {
  padding-top: 5px;
  padding-bottom: 5px;
}
.nav-menu .floor-list .floor-item:last-child a {
  color: #0f7ae5;
}
.nav-menu .floor-list .floor-item .floor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu .floor-list .floor-item .floor-header .floor-name {
  padding-top: 15px;
  font-weight: 500;
}
.nav-menu .floor-list h5 {
  font-size: 0.95em;
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.nav-menu .room-list {
  list-style: none;
  padding-left: 1em;
}
.nav-menu .room-list .room-item {
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.nav-menu .room-list .room-item.add-room {
  padding-top: 5px;
  padding-bottom: 5px;
}
.nav-menu .room-list .room-item.add-room a {
  color: #0f7ae5;
}
.nav-menu .room-list .room-item .room-name {
  font-weight: normal;
}
.nav-menu .room-list .room-item .action-icon {
  margin-left: auto;
}
.nav-menu .action-icons, .nav-menu .action-icon {
  color: #777;
  margin-left: 0.5em;
  cursor: pointer;
  font-size: 1em;
}
.nav-menu .action-icons {
  display: flex;
  gap: 0.5em;
}

ul.sku-list {
  list-style: none;
  padding: 0;
  margin: 10px 0 10px 0;
}
ul.sku-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 0 12px 25px;
}
ul.sku-list li .sku-name {
  font-weight: bold;
}
ul.sku-list li .sku-qty {
  font-weight: normal;
}

label.subheading {
  margin-bottom: 10px;
  display: block;
  color: #777;
  font-weight: bold;
}

.dimensions label {
  font-weight: normal;
}

.notes-area {
  margin-right: 20px;
}
.notes-area textarea.note {
  width: 100%;
  height: 100px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 7px 15px 9px 15px;
  font-size: 1.1em;
  color: #2a2a2a;
  margin-bottom: 11px;
  outline: none;
  display: block;
  overflow: visible;
  resize: none;
}

.notes-images-area .notes-images-container {
  border-top-color: #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-style: solid;
  border-top-width: 2px;
}
.notes-images-area #room_notes {
  list-style-type: none;
  padding-left: 0;
}
.notes-images-area #room_notes .note {
  padding: 20px 10px;
  margin: 10px 0;
  background-color: #eee;
}
.notes-images-area #room_notes .note .note-date {
  float: left;
  font-weight: bold;
  color: #666;
  font-size: 90%;
  position: relative;
  top: -10px;
}
.notes-images-area #room_notes .note .note-actions {
  float: right;
}
.notes-images-area #room_notes .note .note-text {
  clear: both;
}
.notes-images-area .uk-button-link {
  background: #717171;
  line-height: 38px;
  color: #fff;
  border-radius: 10px 10px 0 0;
}
.notes-images-area .uk-button-link.uk-active {
  background: #0f7ae5;
}

#add-image {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#add-image + label {
  font-size: 0.875em;
  color: white;
  background-color: #0f7ae5;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  padding: 11px 0;
  text-transform: uppercase;
  transition: 0.1s ease-in-out;
  transition-property: color, background-color, border-color;
}

.imagebg {
  width: 100%;
  height: 164px;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.schedule-topper div {
  background-color: #192542;
  color: #fff;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  text-align: left;
}
.schedule-topper div p {
  line-height: 35px;
  padding-left: 5px;
  padding-right: 2px;
  font-size: 90%;
}
.schedule-topper div p.heading {
  font-variant: all-small-caps;
  line-height: 32px;
  padding: 0 5px;
  font-size: 100%;
}

.uk-modal.loginmodal {
  backdrop-filter: blur(15px);
}

.sidetabs {
  white-space: nowrap;
}
.sidetabs button {
  background: #717171;
  width: 50%;
  height: 33px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 10px;
}
.sidetabs button.uk-active {
  background: #0f7ae5;
}

.syncicon {
  display: inline-block;
  background-image: url("/img/sync.png");
  filter: grayscale(100%);
  width: 38px;
  height: 38px;
  background-size: cover;
  transition: transform 0.3s ease-in-out;
}
.syncicon.active {
  filter: grayscale(0%);
  animation: rotate 1s linear infinite;
}
.syncicon:hover {
  filter: grayscale(0%);
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (min-width: 1600px) {
  .uk-offcanvas {
    display: flex;
  }
}
@media screen and (max-width: 1600px) {
  body {
    padding: 0 1px;
  }
  .btn-toggle-sidebar {
    position: fixed;
    left: 0;
    top: 40%;
    margin: 0;
    transform: rotate(90deg) translate(0, 90px);
    border-radius: 10px 10px 0 0;
    letter-spacing: 2px;
  }
}