

<div id="table_mode_view" class="uk-width-1-1 uk-margin" uk-grid>
    <div class="uk-width-1-1 uk-margin">                        
        <h3>Your details</h3>
    </div>

    <form name="form-update-account" id="form-update-account" class="uk-margin-small-top">
        <div class="uk-width-1-2 uk-margin">                        
            <div class="dimensions uk-grid-match" uk-grid>
                <div class="uk-width-1-1 ">
                    <label>Display Name</label>
                    <input type="text" class="uk-input" id="name" name="name" value=""  />
                </div>
                <div class="uk-width-1-1 uk-padding-remove-right">
                    <label>Email</label>
                    <input type="email" class="uk-input" id="email" name="email" value=""  />
                </div>
                <div class="uk-width-1-1 uk-padding-remove-right">
                    <label>Password</label>
                    <input type="password" class="uk-input" id="password" name="password" value=""  />
                </div>
                <div class="uk-width-1-1 uk-padding-remove-right">
                    <label>Area Code</label>
                    <input type="text" class="uk-input" id="code" name="code" value=""  />
                </div>

            </div>
        </div>


        <div class="uk-width-1-2 uk-margin">                        
            <div class="dimensions uk-grid-match" uk-grid>

            </div>
        </div>

        <div class="uk-width-1-1 uk-margin">  
            
            <div class="uk-width-1-6 uk-margin">
                <button type="submit" id="btn_update_account" class="uk-button uk-button-primary uk-width-1-1">Update</button>
            </div>
        </div>
    </form>


</div>