<div id="container">
    <div id="spinner" style="display:none;"><div uk-spinner="ratio: 4"></div></div>        

    <nav class="uk-navbar-container">
        <div class="uk-container uk-padding-remove">
            <div uk-navbar>
                <a class="uk-navbar-item uk-logo" href="/"><img width="80" src="img/tamlite-logo.jpg"></a>
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav mobile-nav">
                        <li>
                            <a href="/">
                                <span class="uk-icon" uk-icon="icon: world; ratio: 2"></span>
                                <small>Projects</small>
                            </a>
                        </li>                        
                        <li>
                            <a href="/tables">
                                <span class="uk-icon" uk-icon="icon: file-text; ratio: 2"></span>
                                <small>Table Mode</small>
                            </a>
                        </li>
                        <li>
                            <a href="/schedule">
                                <span class="uk-icon" uk-icon="icon: file-pdf; ratio: 2"></span>
                                <small>Schedule</small>
                            </a>
                        </li>
                        <li>
                            <a href="/account">
                                <span class="uk-icon" uk-icon="icon: user; ratio: 2"></span>
                                <small>Account</small>
                            </a>
                        </li>

                        <input type="text" id="m_room_id" name="m_room_id" value="" />
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    
    <input type="hidden" id="site_uid" name="site_uid" value="" />
                        
    <input type="hidden" id="m_project_id" name="m_project_id" value="" />    
    <input type="hidden" id="m_project_slug" name="m_project_slug" value="" />
    <input type="hidden" id="m_project_version" name="m_project_version" value="" />
    <input type="hidden" id="m_user_id" name="m_user_id" value="" />
    <input type="hidden" id="m_area_id" name="m_area_id" value="" />
    
    <input type="hidden" id="m_floor_id" name="m_floor_id" value="" />
    <input type="hidden" id="m_building_id" name="m_building_id" value="" />
    <input type="hidden" id="m_location_id" name="m_location_id" value="" />
    
    
    <!-- Login modal -->
    <div id="login" class="loginmodal" uk-modal>
        <div class="uk-modal-dialog uk-margin-auto-vertical uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close hidden></button>
            <form id="form-login">
                <div class="uk-text-center" uk-grid>
                    <div class="uk-width-1-1">
                        <h3>Login</h3>
                    </div>
                    <div class="uk-width-1-1 uk-text-left">
                        <label>Email</label>
                        <input id="modal_form_email"
                               name="modal_form_email"
                               class="uk-input free-type"
                               placeholder="name@tamlite.co.uk"
                               required
                               value=""
                               oninvalid="this.setCustomValidity('Enter your email address')"
                               oninput="this.setCustomValidity('')" />
                    </div>
                    <div class="uk-width-1-1 uk-text-left">
                        <label>Password</label>
                        <input id="modal_form_password"
                               name="modal_form_password"
                               class="uk-input free-type"
                               type="password"
                               placeholder=""
                               required
                               value=""
                               oninvalid="this.setCustomValidity('Enter your password')"
                               oninput="this.setCustomValidity('')" />
                    </div>
                    <div style="display:none;" class="uk-width-1-1 uk-text-left login-error">
                        <p class=""></p>
                    </div>
                    <div class="uk-width-1-1">
                        <input type="hidden" name="modal_form_uid" value="" />
                        <div class="form-actions">
                            <button id="form-submit-login" type="submit" class="uk-button uk-button-primary">Login</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>    

    <div id="sidebar"></div>


    <!-- rooms nav -->
    <div class="uk-offcanvas-bar uk-visible@xl tables-side" id="desktop-sidebar">
        <div class="uk-visible@m uk-flex uk-flex-column">
    
            <h4>Manage Project 1.1</h4>
    
            <div id="locations" class="locations nav-menu"></div>
    
        </div>
    </div>
    <!-- end rooms nav -->
    
    
    
    
    <!-- rooms nav offcanvas-sidebar -->
    <div id="offcanvas-sidebar" class="tables-side" uk-offcanvas="mode: slide; overlay: true">
    
    
        <div class="uk-offcanvas-bar uk-flex uk-flex-column">
    
            <h4>Manage Project 2</h4>
    
            <div id="locations" class="locations nav-menu"></div>
    
        </div>
    </div>
    <!-- end rooms nav -->
    
    
    <div id="page"></div>    
    
    
    <!-- remove floor/ room modal -->
    <div id="remove-location" uk-modal>
        <div class="uk-modal-dialog uk-margin-auto-vertical uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <form id="form-remove-location">
                <div class="uk-text-center" uk-grid>
                    <div class="uk-width-1-1">
                        <h3>Remove Location</h3>
                    </div>
    
                    <div class="uk-width-1-1">
                        <h4>This will delete this location.</h4>
                        <p>This will remove all rooms on this location and all products assigned to those rooms.</p>
                    </div>
    
                    <div class="uk-width-1-1">
                        <input type="hidden" name="modal_form_project_slug" value="<?php echo $project_slug; ?>" />
                        <input type="hidden" name="modal_form_uid" value="" />
    
                        <button id="btn-remove-location" type="submit" class="uk-button uk-button-danger">Remove</button>
                        <button class="uk-modal-close uk-button uk-button-default">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <!-- remove floor/ room modal -->
    <div id="remove-building" uk-modal>
        <div class="uk-modal-dialog uk-margin-auto-vertical uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <form id="form-remove-building">
                <div class="uk-text-center" uk-grid>
                    <div class="uk-width-1-1">
                        <h3>Remove Building</h3>
                    </div>
    
                    <div class="uk-width-1-1">
                        <h4>This will delete this building.</h4>
                        <p>This will remove all rooms on this building and all products assigned to those rooms.</p>
                    </div>
    
                    <div class="uk-width-1-1">
                        <input type="hidden" name="modal_form_project_slug" value="<?php echo $project_slug; ?>" />
                        <input type="hidden" name="modal_form_uid" value="" />
    
                        <button id="btn-remove-location" type="submit" class="uk-button uk-button-danger">Remove</button>
                        <button class="uk-modal-close uk-button uk-button-default">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <!-- remove floor modal -->
    <div id="remove-floor" uk-modal>
        <div class="uk-modal-dialog uk-margin-auto-vertical uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <form id="form-remove-floor">
                <div class="uk-text-center" uk-grid>
                    <div class="uk-width-1-1">
                        <h3>Remove Floor</h3>
                    </div>
    
                    <div class="uk-width-1-1">
                        <h4>This will delete this floor.</h4>
                        <p>This will remove all rooms on this floor and all products assigned to those rooms.</p>
                    </div>
    
                    <div class="uk-width-1-1">
                        <input type="hidden" name="modal_form_project_slug" value="<?php echo $project_slug; ?>" />
                        <input type="hidden" name="modal_form_uid" value="" />
    
                        <button type="submit" class="uk-button uk-button-danger">Remove</button>
                        <button class="uk-modal-close uk-button uk-button-default">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- remove room modal -->
    <div id="remove-room" uk-modal>
        <div class="uk-modal-dialog uk-margin-auto-vertical uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <form id="form-remove-room">
                <div class="uk-text-center" uk-grid>
                    <div class="uk-width-1-1">
                        <h3>Remove Room</h3>
                    </div>
    
                    <div class="uk-width-1-1">
                        <h4>This will delete this room.</h4>
                        <p>This will remove all rooms and all products assigned to this room.</p>
                    </div>
    
                    <div class="uk-width-1-1">
                        <input type="hidden" name="modal_form_project_slug" value="<?php echo $project_slug; ?>" />
                        <input type="hidden" name="modal_form_uid" value="" />
                        <button type="submit" class="uk-button uk-button-danger">Remove</button>
                        <button class="uk-modal-close uk-button uk-button-default">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    
    
    <!-- add room modal -->
    <div id="add-room" uk-modal>
        <div class="uk-modal-dialog uk-margin-auto-vertical uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <form id="form-add-room">
                <div class="uk-text-center" uk-grid>
                    <div class="uk-width-1-1">
                        <h3>Add Room</h3>
                    </div>
    
                    <div class="uk-width-1-1 uk-text-left">
                        <label>Name The Room</label>
                        <input id="modal_form_room"
                               name="modal_form_room"
                               class="uk-input free-type"
                               placeholder="Room Name"
                               required
                               value=""
                               oninvalid="this.setCustomValidity('You must enter a name for this floor')"
                               oninput="this.setCustomValidity('')" />
                    </div>
    
                    <div class="uk-width-1-1">
                        <input type="hidden" name="modal_form_project_id" value="<?php echo $project_slug; ?>" />
                        <input type="hidden" name="modal_form_project_name" value="" />
    
                        <input type="hidden" name="modal_form_uid" value="" />
                        <div class="form-actions">
                            <button type="submit" class="uk-button uk-button-primary">Add Room</button>
                            <button class="uk-modal-close uk-button uk-button-default">Cancel</button>
    
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    
    <!-- add floor modal -->
    <div id="add-floor" uk-modal>
        <div class="uk-modal-dialog uk-margin-auto-vertical uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <form id="form-add-floor">
                <div class="uk-text-center" uk-grid>
                    <div class="uk-width-1-1">
                        <h3>Add Floor</h3>
                    </div>
    
                    <div class="uk-width-1-1 uk-text-left">
                        <label>Name The Floor</label>
                        <input id="modal_form_floor"
                               name="modal_form_floor"
                               class="uk-input free-type"
                               placeholder="Floor Name"
                               required
                               value=""
                               oninvalid="this.setCustomValidity('You must enter a name for this floor')"
                               oninput="this.setCustomValidity('')" />
                    </div>
    
                    <div class="uk-width-1-1">
                        <input type="hidden" name="modal_form_uid" value="" />
    
                        <button id="form-submit-floor" type="submit" class="uk-button uk-button-primary">Add Floor</button>
                        <button class="uk-modal-close uk-button uk-button-default">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    
    <!-- add building modal -->
    <div id="add-building" uk-modal>
        <div class="uk-modal-dialog uk-margin-auto-vertical uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <form id="form-add-building">
                <div class="uk-text-center" uk-grid>
                    <div class="uk-width-1-1">
                        <h3>Add Building</h3>
                    </div>
    
                    <div class="uk-width-1-1 uk-text-left">
                        <label>Name The Building</label>
                        <input id="modal_form_building"
                               name="modal_form_building"
                               class="uk-input free-type"
                               placeholder="Building Name"
                               required
                               value=""
                               oninvalid="this.setCustomValidity('You must enter a name for this building')"
                               oninput="this.setCustomValidity('')" />
                    </div>
    
                    <div class="uk-width-1-1">
                        <input type="hidden" name="modal_form_uid" value="" />
    
                        <button id="form-submit-building" type="submit" class="uk-button uk-button-primary">Add Building</button>
                        <button class="uk-modal-close uk-button uk-button-default">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <!-- add location modal -->
    <div id="add-location" uk-modal>
        <div class="uk-modal-dialog uk-margin-auto-vertical uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <form id="form-add-location">
                <div class="uk-text-center" uk-grid>
                    <div class="uk-width-1-1">
                        <h3>Add Location</h3>
                    </div>
    
                    <div class="uk-width-1-1 uk-text-left">
                        <label>Name The Location</label>
                        <input id="modal_form_location"
                               name="modal_form_location"
                               class="uk-input free-type"
                               placeholder="Location Name"
                               required
                               value=""
                               oninvalid="this.setCustomValidity('You must enter a name for this location')"
                               oninput="this.setCustomValidity('')" />
                    </div>
    
                    <div class="uk-width-1-1">
                        <input type="hidden" name="modal_form_uid" value="" />
    
                        <button id="form-submit-location" type="submit" class="uk-button uk-button-primary">Add Location</button>
                        <button class="uk-modal-close uk-button uk-button-default">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>




    
</div>