<div id="container">
    <div id="spinner" style="display:none;"><div uk-spinner="ratio: 4"></div></div>        

    <nav class="uk-navbar-container">
        <div class="uk-container uk-padding-remove">
            <div uk-navbar>
                <a class="uk-navbar-item uk-logo" href="/"><img width="80" src="img/tamlite-logo.jpg"></a>
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav mobile-nav">
                        <li>
                            <a href="/">
                                <span class="uk-icon" uk-icon="icon: world; ratio: 2"></span>
                                <small>Projects</small>
                            </a>
                        </li>                        
                        <li class="tables_link">
                            <a href="/tables">
                                <span class="uk-icon" uk-icon="icon: file-text; ratio: 2"></span>
                                <small>Table Mode</small>
                            </a>
                        </li>
                        <li class="schedule_link">  
                            <a href="/schedule">
                                <span class="uk-icon" uk-icon="icon: file-pdf; ratio: 2"></span>
                                <small>Schedule</small>
                            </a>
                        </li>
                        <li>
                            <a href="/account">
                                <span class="uk-icon" uk-icon="icon: user; ratio: 2"></span>
                                <small>Account</small>
                            </a>
                        </li>

                        
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <input type="hidden" id="site_uid" name="site_uid" value="" />                    
    <input type="hidden" id="m_project_id" name="m_project_id" value="" />    
    <input type="hidden" id="m_project_slug" name="m_project_slug" value="" />
    <input type="hidden" id="m_project_version" name="m_project_version" value="" />
    <input type="hidden" id="m_user_id" name="m_user_id" value="" />
    <input type="hidden" id="m_area_id" name="m_area_id" value="" />
    <input type="hidden" id="m_room_id" name="m_room_id" value="" />    
    <input type="hidden" id="m_floor_id" name="m_floor_id" value="" />
    <input type="hidden" id="m_building_id" name="m_building_id" value="" />
    <input type="hidden" id="m_location_id" name="m_location_id" value="" /> 
    

    <div id="sidebar"></div>

    <!-- rooms nav -->
    <div class="uk-offcanvas-bar uk-visible@xl tables-side" id="desktop-sidebar">
        <div class="uk-visible@m uk-flex uk-flex-column">
            <div uk-switcher="animation: uk-animation-fade; toggle: > *" class="uk-width-1-1 sidetabs">
                <button class="uk-button uk-button-link uk-width-1-4" type="button">Project</button>
                <button class="uk-button uk-button-link uk-width-1-4" type="button">Favourites</button>
            </div>        
            <div class="uk-switcher uk-margin-remove-top uk-width-1-1">
                <div class="uk-margin-remove-top uk-width-1-1">
                    <!-- <h4>Manage Project</h4>     -->
                    <div id="locations" class="locations nav-menu uk-margin-top"></div>
                </div>
                <div class="uk-margin-remove-top uk-width-1-1">                    
                    <div id="favourites" class="favourites nav-menu uk-margin-top"></div>
                </div>
            </div>
        </div>
    </div> 
    <!-- end rooms nav -->
    
    <!-- rooms nav offcanvas-sidebar -->
    <div id="offcanvas-sidebar" class="tables-side" uk-offcanvas="mode: slide; overlay: true">   
        <div class="uk-offcanvas-bar uk-flex uk-flex-column">    
            <div uk-switcher="animation: uk-animation-fade; toggle: > *" class="uk-width-1-1 sidetabs">
                <button class="uk-button uk-button-link uk-width-1-4" type="button">Project</button>
                <button class="uk-button uk-button-link uk-width-1-4" type="button">Favourites</button>
            </div>        
            <div class="uk-switcher uk-margin-remove-top uk-width-1-1">
                <div class="uk-margin-remove-top uk-width-1-1">
                    <!-- <h4>Manage Project M</h4>     -->
                    <div id="locations" class="locations nav-menu uk-margin-top"></div>
                </div>
                <div class="uk-margin-remove-top uk-width-1-1">                                        
                    <div id="favourites" class="favourites nav-menu uk-margin-top"></div>
                </div>
            </div>

        </div>
    </div>
    <!-- end rooms nav -->
    
    <button class="btn-toggle-sidebar uk-button uk-align-right uk-button-primary uk-hidden@xl " type="button" uk-toggle="target: #offcanvas-sidebar">Manage Project</button>


    <div id="page"></div>        
   
</div>



