<div>

    <button style="width:100%;margin:20px 0; display:none;" 
            class="uk-magin uk-button uk-button-danger install-button"             
            id="install-button" 
            type="button">
        <span uk-icon="warning"></span> &nbsp;&nbsp;<b>Install The Site Survey Tool On This Device</b>
    </button>     

    <div class="uk-width-1-1 uk-margin">    

        <div uk-grid>
            <div class="uk-width-1-1">                
                <div id="dashboard_projects"></div>
            </div>
        </div>

    </div>    

    <div uk-grid>

        <div class="uk-width-1-1 uk-text-right">
            <button class="uk-button uk-button-primary" id="btn-create-project" type="button">New Project</button>
        </div>
    
    </div>
    
  

</div>
