<!-- 
    Sidebar  
--> 
<div id="sidebar"></div>

<!-- rooms nav -->
<div class="uk-offcanvas-bar uk-visible@xl tables-side" id="desktop-sidebar">
    <div class="uk-visible@m uk-flex uk-flex-column">
        <div uk-switcher="animation: uk-animation-fade; toggle: > *" class="uk-width-1-1 sidetabs">
            <button class="uk-button uk-button-link uk-width-1-4" type="button">Project</button>
            <button class="uk-button uk-button-link uk-width-1-4" type="button">Favourites</button>
        </div>        
        <div class="uk-switcher uk-margin-remove-top uk-width-1-1">
            <div class="uk-margin-remove-top uk-width-1-1">
                <!-- <h4>Manage Project</h4>     -->
                <div id="locations" class="locations nav-menu uk-margin-top"></div>
            </div>
            <div class="uk-margin-remove-top uk-width-1-1">                    
                <div id="favourites" class="favourites nav-menu uk-margin-top"></div>
            </div>
        </div>
    </div>
</div> 
<!-- end rooms nav -->

<!-- rooms nav offcanvas-sidebar -->
<div id="offcanvas-sidebar" class="tables-side" uk-offcanvas="mode: slide; overlay: true">   
    <div class="uk-offcanvas-bar uk-flex uk-flex-column">    
        <div uk-switcher="animation: uk-animation-fade; toggle: > *" class="uk-width-1-1 sidetabs">
            <button class="uk-button uk-button-link uk-width-1-4" type="button">Project</button>
            <button class="uk-button uk-button-link uk-width-1-4" type="button">Favourites</button>
        </div>        
        <div class="uk-switcher uk-margin-remove-top uk-width-1-1">
            <div class="uk-margin-remove-top uk-width-1-1">
                <!-- <h4>Manage Project M</h4>     -->
                <div id="locations" class="locations nav-menu uk-margin-top"></div>
            </div>
            <div class="uk-margin-remove-top uk-width-1-1">                                        
                <div id="favourites" class="favourites nav-menu uk-margin-top"></div>
            </div>
        </div>

    </div>
</div>
<!-- end rooms nav -->

<button class="btn-toggle-sidebar uk-button uk-align-right uk-button-primary uk-visible@l uk-hidden@xl" type="button" uk-toggle="target: #offcanvas-sidebar">Manage Project</button>
<!-- 
    // END Sidebar  
--> 


<!-- 
    Tables View 
-->     
<div id="table_mode_view" class="uk-width-1-1 uk-margin-remove-botttom@l" uk-grid>
    
    <div class="uk-width-1-1">
        <button class="uk-button uk-align-left uk-button-primary uk-hidden@l" type="button" uk-toggle="target: #offcanvas-sidebar">Manage Project</button>
    </div>

    <div  class="uk-margin-top location-heading" uk-grid>
        <div class="uk-width-1-1">
            <span class="uk-icon" uk-icon="icon: location;"></span>
            <span title="Rename" alt="Rename"  data-label="location_name" data-id="" data-tbl="locations" class="name location_name"></span>

            <span class="uk-icon" uk-icon="icon: home;"></span>
            <span title="Rename" alt="Rename" data-label="building_name" data-id="" data-tbl="buildings" class="name building_name"></span>

            <span class="uk-icon" uk-icon="icon: table;"></span>
            <span title="Rename" alt="Rename" data-label="floor_name" data-id="" data-tbl="floors" class="name floor_name"></span>
            <hr>
        </div>
        
        <div class="uk-width-1-2 uk-margin">            
            <div class="uk-position-center-left uk-position-relative ">
                <span id="copy_room" class="uk-icon" uk-icon="icon: move; ratio: 1.2"></span>
                <span title="Rename" alt="Rename" data-label="room_name" data-id="" data-tbl="rooms" class="name room_name"></span>
            </div>
        </div>
        
        <div class="uk-width-1-2 uk-margin">                        
            <div class="dimensions uk-grid-match" uk-grid>
                <div class="uk-width-1-3 ">
                    <label>Length</label><input type="number" data-field="length" class="uk-input roomdim" id="room_length" name="room_length" value="" max="9999" min="1" step="1" />
                </div>
                <div class="uk-width-1-3 uk-padding-remove-right">
                    <label>Width</label><input type="number" data-field="width" class="uk-input roomdim" id="room_width" name="room_width" value="" max="9999" min="1" step="1" />
                </div>
                <div class="uk-width-1-3 uk-padding-remove-right">
                    <label>Height</label><input type="number" data-field="height" class="uk-input roomdim" id="room_height" name="room_height" value="" max="9999" min="1" step="1" />
                    
                </div>
                
            </div>
        </div>
    </div>

    
    <form id="product-select-form">
        <label class="subheading">Add Products to this room</label>
        <div class="uk-text-center" uk-grid>
            
            <div class="uk-width-1-2">
                <select id="form_brand"
                        name="form_brand"
                        class="uk-select select-brand">
                    <option selected value="1">Tamlite</option>
                    <option value="2">xcite</option>
                </select>
            </div>

            <div class="uk-width-1-2">
                <select id="form_type"
                        name="form_type"
                        class="uk-select select-type">
                    <option value="">Select Type</option>
                </select>
            </div>          
            
            <div class="uk-width-1-2">
                <select id="form_product"
                        name="form_product"
                        class="uk-select select-product">
                    <option value="">Select Product</option>
                </select>
            </div>           
            
            <div class="uk-width-1-2">
                <select id="form_sku"
                        name="form_sku"
                        class="uk-select select-sku">
                    <option value="">Select SKU</option>
                </select>
            </div>     
            
            <!-- Add buttons -->
            <div class="uk-width-1-2 uk-margin uk-first-column">
                <button id="btn_add_product" type="button" class="uk-button uk-button-primary uk-width-1-1">Add</button>
            </div>            

            <div class="uk-width-1-2 uk-margin">
                <button type="button" id="btn_add_special" class="uk-button uk-button-primary uk-width-1-1">Add Special</button>
            </div>

        </div>

    </form>    


    <!--
        The Products Table
    -->
    <div class="uk-width-1-1 uk-margin-small-top">
        <label class="subheading">Products in this room</label>
        <div uk-grid>
            <div class="uk-width-1-1">
                <div id="ptable"></div>
            </div>
        </div>
    </div>   
    
    <!--
        Notes / Images
    -->
    <div class="uk-margin-large-top notes-images-area uk-width-1-1">   
        <div uk-switcher="animation: uk-animation-fade; toggle: > *" class="uk-width-1-1">
            <button class="uk-button uk-button-link uk-width-1-4" type="button">Notes</button>
            <button class="uk-button uk-button-link uk-width-1-4" type="button">Images</button>
        </div>        
        <div class="uk-switcher uk-margin-remove-top uk-width-1-1">
            <div class="uk-width-1-1 notes-images-container">
                <div id="target-notes" class="uk-width-1-1 notes-area">
                    <button id="add-note" class="uk-width-1-2 uk-button uk-button-primary">Add Note</button>
                    <ul id="room_notes" class="uk-width-1-1 notes-area"></ul>                    
                </div>
            </div>
            <div class="uk-width-1-1 notes-images-container">
                <div id="target-images" class="uk-width-1-1 images-area">                    
                    <input id="add-image" name="add-image" type="file" size="32" accept="image/*;capture=camera">
                    <label id="add-image-label" class="uk-width-1-2" for="add-image">Add Image</label>   
                    <div id="images" class="room_images uk-width-1-1 uk-margin-top"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- // end notes & images area -->


</div>


<!--
    TEMPLATES 
-->
<!-- Product Select option, - only used on inital load, not dynamically -->
<script id="options" type="x-tmpl-mustache">
    <option value="">[[title]]</option>
    [[#options]]
        <option value="[[slug]]">[[name]]</option>
    [[/options]]
</script>

